
.header .navbar {
    font-size: 14px;  
}
.navbar-nav .nav-link {
    color: #fff;
}
.navbar-nav .nav-link.active {
    color: #28a745;
}


.text-xs{
    font-size: x-small;
}
h2.titulo-gral{
    font-size: xx-small;

}
h2 > span {
  font-size: 3.3em;
}
p.text-center{
    font-size: x-small
}
#emailHelp{font-size: x-small}
#main-footer{
    font-size: xx-small;
    
    background-color: rgb(43, 78, 78);
}
a.nav-link{
    color: #fff;
}